body {
  margin: 0;
  font-family: "Roboto Light", Arial, serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d5d4d4;
  background-image: url(https://c4.wallpaperflare.com/wallpaper/545/566/447/space-sun-sunset-sky-wallpaper-preview.jpg)  center  center no-repeat fixed ;  

}
.k{
  background-color: #b12323;
  background-image: url(https://c4.wallpaperflare.com/wallpaper/545/566/447/space-sun-sunset-sky-wallpaper-preview.jpg)  center  center no-repeat fixed ;  
} 